In [4]:
import pandas as pd
import sqlite3
import datetime
# Define the date for the file name

conn = sqlite3.connect("./../data/databases/main.db")
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)
data = pd.read_sql_query("SELECT * FROM APARTMENT_DATA", conn)
print(data.shape)  # Print the shape of the DataFrame for verification








data.to_csv("./../data/all_data.csv", index=False)
conn.close()

             name
0  apartment_data
(4637, 18)